@charset "UTF-8";

:root {
    --background: #ffff;
    --font: 'Poppins', sans-serif;
    --background-header: #226ED8;
    --background-footer: #114FA7;


}


body {
    margin: auto;
}

main {
    min-width: 300px;
    max-width: 1180px;
    margin: auto;
}

header {
    font-family: var(--font);
    color: #FAFAFA;

    background-color: var(--background-header);
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    align-items: center;
    width: 100%;
    height: 80px;
}


/* Dark Mode */
header.dark {
    color: #3867D6;
    background-color: #333333;
}

#radio-btn {
    width: 50px;
    height: 24px;
    padding: 5px;
    background: linear-gradient(90deg, #FFC93F 0%, #FFC93F 0.01%, #FFE03F 100%);
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
}

#radio-btn.fundo {
    background: linear-gradient(269.72deg, #222222 0.23%, #111111 0.24%, #2E2E2E 99.76%);
}

#radio-btn #radio-inner {
    position: relative;
    width: 25px;
    height: 25px;
    background-color: #ffff;
    border-radius: 100px;
    transition: all 0.6s;
    display: flex;
}

#radio-btn #radio-inner #image {
    margin: 4px 4px 4px 4px;
    display: flex;
    align-items: center;
}

#radio-btn #radio-inner ::before {
    content: "";
    position: absolute;
    top: 0;
    left: -60%;
    width: 100%;
    height: 100%;
    background-color: #27173a;
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.8s;
}


#radio-btn #radio-inner.active {
    transform: translateX(calc(50px - 24px));
}


#radio-btn #radio-inner.active::before {
    left: -10px;
    transform: scale(2);

}

.frasedodia {
    width: 620px;
    height: 119px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    margin-top: 32px;
    padding: 16px;
    display: flex;
    gap: 8px;
}


.frasedodia.dark {
    background-color: #3D3D3D;
}

.fraseMobile.dark {
    background-color: #3D3D3D;
}


.frasedodia.dark h1 {
    color: #FAFAFA;
}

.frasedodia.dark p {
    color: #FAFAFA;
}

.frasedodia h1 {
    font-family: var(--font);
    font-size: 12px;
    color: #141414;
}

.frasedodia p {
    font-family: var(--font);
    font-size: 14px;
    color: #141414;
}

.frasedodia img {
    width: 44px;
    height: 44px;
}

.fraseMobile {
    display: none;
}

.fundo-modal {
    display: none;
}

.footer {
    background-color: var(--background-footer);
    color: #ffff;
    font-family: var(--font);
    font-size: 14px;

    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 50px;
    margin: auto;
}

footer a {
    text-decoration: none;
    color: #ffff;
}


/* Responsividade */


@media screen and (max-width: 702px) {

    .frasedodia {
        display: none;
    }

    .footer {
        width: 50%;
        display: inline-block;
        text-align: left;
        padding: 2px 0px 0px 0px;
    }

    .footer p {
        text-align: left;
        margin: 0px;
        padding: 1px 17px;
        font-size: 11px;

    }

    .fraseMobile {
        width: 287px;
        height: 60px;

        position: relative;
        padding: 0;
        background-color: #FFD569;
        box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.04);
        border-radius: 10px;
        margin-top: 32px;
        display: flex;
        align-items: center;
        gap: 11px;
        cursor: pointer;
    }

    .fraseMobile img {
        margin-left: 22px;
    }

    .fraseMobile h1 {
        font-family: var(--font);
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    }

    .fundo-modal.mostrar {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: auto;
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        display: flex;
    }

    .modal {
        width: 315px;
      
        margin: auto;

        
        background: #ffffff;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        z-index: 100;

    }

    .modal.dark {
        background-color: #3D3D3D;
    }

    .modal.dark h1 {
        color: #FAFAFA;
    }

    .modal.dark p {
        color: #FAFAFA;
    }

    .modal.dark button {
        background-color: #3D3D3D;
    }

    .modal img {
        width: 44px;
        height: 44px;
        left: 50px;
        top: 300px;
    }

    .modal h1 {
        font-family: var(--font);
        font-size: 12px;
        color: #141414;
    }

    .modal p {
        font-family: var(--font);
        font-size: 14px;
        color: #141414;
    }

    .modal button {
        box-sizing: border-box;

        width: 30px;
        height: 30px;
        left: 297px;
        top: 308px;

        background: #FFFFFF;
        border: 2px solid #226ED8;
        border-radius: 20px;
    }

    .modal button>span {
        color: #226ED8;

        font-style: normal;
        font-weight: 400;

    }

    .cabecalho {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;

        position: relative;
    }

    .cabecalho h1 {
        margin-right: 109px;
    }
}

@media screen and (max-width:1440px) {
    .footer {
        width: 100%;
    }

    .fraseMobile {
        margin: 32px auto 12px auto;
    }

    .frasedodia {
        margin: 32px auto 12px 33.3px;
    }

}