@charset "UTF-8";

:root {
    --background: #ffff;
    --font: 'Poppins', sans-serif;
    --background-header: #226ED8;
    --background-footer: #114FA7;


}


body {
    margin: auto;
}

main {
    width: 100%;
    height: calc(100vh - 130px);
    overflow: auto;
}

.content {
    min-width: 300px;
    max-width: 1180px;
    margin: auto;
    height: auto;
    width: 100%;
}

.container {
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;

}

header {
    font-family: var(--font);
    color: #FAFAFA;

    background-color: var(--background-header);
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    align-items: center;
    width: 100%;
    height: 80px;
}


/* Dark Mode */
header.dark {
    color: #3867D6;
    background-color: #333333;
}

#radio-btn {
    width: 50px;
    height: 24px;
    padding: 5px;
    background: linear-gradient(90deg, #FFC93F 0%, #FFC93F 0.01%, #FFE03F 100%);
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
}

#radio-btn.fundo {
    background: linear-gradient(269.72deg, #222222 0.23%, #111111 0.24%, #2E2E2E 99.76%);
}

#radio-btn #radio-inner {
    position: relative;
    width: 25px;
    height: 25px;
    background-color: #ffff;
    border-radius: 100px;
    transition: all 0.6s;
    display: flex;
}

#radio-btn #radio-inner #image {
    margin: 4px 4px 4px 4px;
    display: flex;
    align-items: center;
}

#radio-btn #radio-inner ::before {
    content: "";
    position: absolute;
    top: 0;
    left: -60%;
    width: 100%;
    height: 100%;
    background-color: #27173a;
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.8s;
}


#radio-btn #radio-inner.active {
    transform: translateX(calc(50px - 24px));
}


#radio-btn #radio-inner.active::before {
    left: -10px;
    transform: scale(2);

}

.frasedodia {
    width: 620px;
    height: 119px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    margin-top: 32px;
    margin-left: 33px;
    margin-bottom: 32px;
    padding: 16px;
    display: flex;
    gap: 8px;
}


.frasedodia.dark {
    background-color: #3D3D3D;
}

.fraseMobile.dark {
    background-color: #3D3D3D;
}


.frasedodia.dark h1 {
    color: #FAFAFA;
}

.frasedodia.dark p {
    color: #FAFAFA;
}

.frasedodia h1 {
    font-family: var(--font);
    font-size: 12px;
    color: #141414;
}

.frasedodia p {
    font-family: var(--font);
    font-size: 14px;
    color: #141414;
}

.frasedodia img {
    width: 44px;
    height: 44px;
}

.fraseMobile {
    display: none;
}

.fundo-modal {
    display: none;
}

.headerFazer {
    display: flex;
    justify-content: space-between;
}

.headerFazer button>span {
    color: #226ED8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Material Icons';
    font-weight: 400;
    cursor: pointer;
}


.addTask {
    box-sizing: border-box;

    width: 30px;
    height: 30px;
    left: 423px;
    top: 263px;
    margin: auto 0px auto 0px;
    background-color: #FFFFFF;
    border: 2px solid #226ED8;
    border-radius: 40px;
}

.novatask {
    display: none;
}

.novatask.mostrar {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: auto;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    display: flex;
    z-index: 9999;
}

.janelaTask {
    width: 474px;
    height: 421px;
    left: 403px;
    top: 150px;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 100;
}

.tituloTask {
    width: 374px;
    height: 64px;
}

.descricaoTask {
    width: 374px;
    height: 114px;
}

.headerTask {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerTask button.btnfecharTask {
    color: #226ED8;
    justify-content: right;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Material Icons';
    font-weight: 400;

    box-sizing: border-box;

    width: 30px;
    height: 30px;
    left: 297px;
    top: 308px;

    background: #FFFFFF;
    border: 2px solid #226ED8;
    border-radius: 20px;
    margin-top: 30px;
}

.janelaTask button#newTask {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    gap: 10px;

    margin-top: 40px;
    width: 374px;
    height: 41px;

    background: linear-gradient(90.35deg, #4890F5 0%, #226ED8 99.7%);
    border-radius: 20px;
    border: #FFFFFF;
    color: #FFFFFF;
    font-family: var(--font);
    font-size: 14px;
    cursor: pointer;

}

.janelaTask h1 {
    font-family: var(--font);
    font-size: 20px;
    color: #3867D6;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 30px;

}

.janelaTask .linha {
    width: 110px;
    height: 3px;
    background: #3867D6;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 119px;
    margin-right: 120.449px;
}

.janelaTask h2 {
    font-family: var(--font);
    font-size: 12px;
    color: #141414;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}

.janelaTask input#titulo {
    width: 374px;
    height: 40px;
    left: 453px;
    top: 276px;

    background: #EEEEEE;
    border-radius: 10px;
    border: #FFFFFF;
}

.janelaTask input:focus-visible {
    outline: #FFFFFF
}

.janelaTask textarea:focus-visible {
    outline: #FFFFFF
}


.janelaTask textarea#inputdesc {
    width: 374px;
    height: 90px;
    left: 453px;
    top: 360px;

    background: #EEEEEE;
    border-radius: 10px;
    border: #FFFFFF;
    resize: none;
}

.frame {
    width: 291px;
    height: 318px;
    margin: 0px 19px 19px 20px;
    padding-right: 5px;
    overflow: auto;
    justify-content: center;
    display: flex;
    border-radius: 10px;
}

.listaTarefas {
    display: flex;
    flex-direction: column;

    position: relative;
    width: 280px;
    height: fit-content;
    list-style-type: none;
    padding-inline-start: 0px;
}

.listaTarefas li {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 6px;
    margin-bottom: 14px;
    height: fit-content;
}

.listaTarefas p.TitleTask {
    font-size: 14px;
    font-style: normal;
    font-family: var(--font);
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-left: 12px;
    margin-top: 12px;
    color: #141414;
    position: relative;
}


.listaTarefas div>button.moveTask {
    border-radius: 10px;
    background-color: #FFFFFF;
    border: #FFFFFF;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #141414;
    cursor: pointer;
}

.listaTarefas div>button.moveTask:hover {
    color: #226ED8;
}




/* Button Delete Task */

.listaTarefas div>button.excluiTask {
    display: none;
}

.listaTarefas .showDeleted div>button.excluiTask {
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    width: 71px;
    height: 31px;
    border: #FFFFFF;
    cursor: pointer;
    margin-right: 9px;
    margin-bottom: 11px;
    display: flex;
    align-items: center;
    color: #DF0000;
    font-family: var(--font);
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    right: 0;
}

.listaTarefas .showDeleted div>button.excluiTask>span {
    font-family: 'Material Icons';
    font-size: 16px;
    display: flex;
    align-items: center;

    color: #DF0000;
}

.listaTarefas span>button.expand-Ler {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height */
    background-color: #FFFFFF;
    border: #FFFFFF;
    display: flex;
    align-items: center;
    letter-spacing: -0.017em;
    width: 12px;
    height: 12px;
    cursor: pointer;
    color: #141414;
}

.listaTarefas p.paragradoDes {
    display: none;
}

.listaTarefas p.paragradoDes.show {
    display: flex;
    font-size: 12px;
    font-style: normal;
    font-family: var(--font);
    font-weight: 400;
    margin-left: 12px;
    margin-top: 0;
    margin-bottom: 0px;
    color: #141414;
    position: relative;
    width: 163px;
    height: fit-content;
    word-break: break-all;
}

.listaTarefas .parte2>button.move.remove {
    display: none;
}


.listaTarefas .parte2>button.move {
    width: 20px;
    height: 20px;
    border: #FFFFFF;
    background: #226ED8;

    border-radius: 20px;
    margin-right: 14px;
    padding: 1px;
}


.listaTarefas .parte2>button.move>span {
    width: 16px;
    height: 16px;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    padding: 1px;
    cursor: pointer;
}


.listaTarefas div>button.retorna {
    display: none;
}

.listaTarefas div.parte2>button.retorna.show {
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid #226ED8;
    border-radius: 20px;
    padding: 1px;
    margin-left: 103px;
}


.listaTarefas div.parte2>button.retorna.show>span {
    width: 16px;
    height: 16px;
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #226ED8;
    display: flex;
    cursor: pointer;
}


.listaTarefas .parte2 span.Desc.showDesc>button.expand-Desc {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height */
    background-color: #FFFFFF;
    border: #FFFFFF;
    display: flex;
    align-items: center;
    letter-spacing: -0.017em;
    width: 12px;
    height: 12px;
    cursor: pointer;
    color: #002D6C;
}

.listaTarefas div.parte1 {
    display: flex;
    justify-content: space-between;
    height: 38px;
}

.listaTarefas div.parte2 {
    display: flex;
    justify-content: space-between;
    height: fit-content;
}


/* Ao clicar em Ler, Some essa */

.listaTarefas span.itemDesc.some {
    display: none;
}

.listaTarefas span.itemDesc {
    font-family: var(--font);
    font-weight: 300;
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-left: 12px;
    color: #141414;
}


.listaTarefas span.Desc {
    display: none;
}

.listaTarefas span.Desc.showDesc {
    font-family: var(--font);
    font-weight: 300;
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-left: 12px;
    color: #002D6C;
    margin-bottom: 6px;
}

div::-webkit-scrollbar {
    width: 10px;
}

div::-webkit-scrollbar-track {
    background-color: #EEEEEE;
    margin-top: 20px;
    margin-bottom: 20px;
}

div::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #c4c4c4;
    border: 2px solid #EEEEEE;
}


.tarefas {
    display: flex;
    justify-content: space-around;
    font-family: var(--font);
    font-size: 20px;
}

.tasks {
    background-color: #EEEEEE;

    width: 320px;
    height: 337px;
    left: 160px;
    top: 301px;
    border-radius: 10px;
}

.footer {
    background-color: var(--background-footer);
    color: #ffff;
    font-family: var(--font);
    font-size: 14px;

    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 50px;
    margin: auto;
}

footer a {
    text-decoration: none;
    color: #ffff;
}


/* Responsividade */


@media screen and (max-width: 702px) {

    .tarefas {
        width: 287px;
        margin: auto;
    }

    .frame {
        width: 253px;
        border-radius: 10px;
    }

    .frasedodia {
        display: none;
    }

    .footer {
        width: 50%;
        display: inline-block;
        text-align: left;
        padding: 2px 0px 0px 0px;


    }

    .footer p {
        text-align: left;
        margin: 0px;
        padding: 1px 17px;
        font-size: 11px;

    }

    .fraseMobile {
        width: 287px;
        height: 60px;

        position: relative;
        padding: 0;
        background-color: #FFD569;
        box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.04);
        border-radius: 10px;
        margin-top: 32px;
        margin-left: 33px;
        display: flex;
        align-items: center;
        gap: 11px;
        cursor: pointer;
    }

    .fraseMobile img {
        margin-left: 22px;
    }

    .fraseMobile h1 {
        font-family: var(--font);
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    }

    .fundo-modal.mostrar {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: auto;
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        display: flex;
    }

    .modal {
        width: 315px;

        margin: auto;


        background: #ffffff;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        z-index: 100;

    }

    .modal.dark {
        background-color: #3D3D3D;
    }

    .modal.dark h1 {
        color: #FAFAFA;
    }

    .modal.dark p {
        color: #FAFAFA;
    }

    .modal.dark button {
        background-color: #3D3D3D;
    }

    .modal img {
        width: 44px;
        height: 44px;
        left: 50px;
        top: 300px;
    }

    .modal h1 {
        font-family: var(--font);
        font-size: 12px;
        color: #141414;
    }

    .modal p {
        font-family: var(--font);
        font-size: 14px;
        color: #141414;
    }

    .modal button {
        box-sizing: border-box;

        width: 30px;
        height: 30px;
        left: 297px;
        top: 308px;

        background: #FFFFFF;
        border: 2px solid #226ED8;
        border-radius: 20px;
    }

    .modal button>span {
        color: #226ED8;

        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Material Icons';
        font-weight: 400;
    }

    .cabecalho {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;

        position: relative;
    }

    .cabecalho h1 {
        margin-right: 109px;
    }
}

@media screen and (max-width:1021px) {
    .tarefas {
        width: 287px;
        margin: auto;
    }

    .frame {
        width: 253px;
        border-radius: 10px;
    }

    .frasedodia {
        display: none;
    }

    .footer {
        width: 50%;
        display: inline-block;
        text-align: left;
        padding: 2px 0px 0px 0px;


    }

    .footer p {
        text-align: left;
        margin: 0px;
        padding: 1px 17px;
        font-size: 11px;

    }

    .fraseMobile {
        width: 287px;
        height: 60px;

        position: relative;
        padding: 0;
        background-color: #FFD569;
        box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.04);
        border-radius: 10px;
        margin-top: 32px;
        margin-left: 33px;
        display: flex;
        align-items: center;
        gap: 11px;
        cursor: pointer;
    }

    .fraseMobile img {
        margin-left: 22px;
    }

    .fraseMobile h1 {
        font-family: var(--font);
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    }

    .fundo-modal.mostrar {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: auto;
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        display: flex;
    }

    .modal {
        width: 315px;

        margin: auto;


        background: #ffffff;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        z-index: 100;

    }

    .modal.dark {
        background-color: #3D3D3D;
    }

    .modal.dark h1 {
        color: #FAFAFA;
    }

    .modal.dark p {
        color: #FAFAFA;
    }

    .modal.dark button {
        background-color: #3D3D3D;
    }

    .modal img {
        width: 44px;
        height: 44px;
        left: 50px;
        top: 300px;
    }

    .modal h1 {
        font-family: var(--font);
        font-size: 12px;
        color: #141414;
    }

    .modal p {
        font-family: var(--font);
        font-size: 14px;
        color: #141414;
    }

    .modal button {
        box-sizing: border-box;

        width: 30px;
        height: 30px;
        left: 297px;
        top: 308px;

        background: #FFFFFF;
        border: 2px solid #226ED8;
        border-radius: 20px;
    }

    .modal button>span {
        color: #226ED8;

        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Material Icons';
        font-weight: 400;
    }

    .cabecalho {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: space-between;

        position: relative;
    }

    .cabecalho h1 {
        margin-right: 109px;
    }
}

@media screen and (max-width:537px) {
    .janelaTask {
        width: 315px;
        height: 418px;
    }

    .janelaTask button#newTask {
        width: 255px;
        margin: auto;
        margin-top: 40px;
    }

    .tituloTask {
        width: 255px;
        margin: auto;
    }

    .descricaoTask {
        width: 255px;
        margin: auto;
    }

    .janelaTask input#titulo {
        width: 255px;
    }

    .janelaTask textarea#inputdesc {
        width: 255px;
    }

    .janelaTask button#newTask {
        width: 255px;
    }

    .headerTask {
        width: 255px;
        margin-left: 61px;
    }

}

@media screen and (max-width:1440px) {
    .footer {
        width: 100%;
    }

    .fraseMobile {
        margin: 32px auto 12px auto;
    }

    .frasedodia {
        margin: 32px auto 12px 33.3px;
    }

}